# building rest apis
fastapi==0.115.0

# server to run app
uvicorn==0.30.6

# to connect to PostgreSQL database
psycopg2-binary

# securing passwords
passlib==1.7.4
bcrypt==4.0.1

# for .env support
python-dotenv